[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
django-hitcount = "*"
djangorestframework = "*"
django-taggit = "*"
django-ckeditor = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
