{% extends 'main.html' %}

{% block title %}Login{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

<style>

</style>


<h3>Ro'yxatdan o'tish</h3>

<form action="" method="post">
    {% csrf_token %}

    {{ form|crispy }}

    <button type="submit" class="btn btn-warning mt-3 w-25">Ro'yxatdan o'tish <i class="bi bi-person-plus-fill"></i></button>
    <hr class="dropdown-divider my-3">
    <p>Sizda allaqachon akkaunt bormi ?</p>
    <a href="{% url 'login' %}" role="button" class="nav-link">Login?</a>
</form>


{% endblock content %}