<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="R-blog, blogpost sayt. Kiring va post yozing hamda bilimlaringizni oshiring!">

    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container{
            background-color: rgba(0, 128, 0, 0.429);
            color: red;
            height: 808px;
        }
    </style>
</head>

<body>
    <section class="container" id="container">
        <div class="row mb-3">
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aliquid doloribus quo soluta enim
                veritatis vel fuga in earum illum sit architecto quas tempore qui eligendi excepturi quisquam delectus
                minus, rem quidem voluptatibus rerum maxime. Hic provident expedita possimus fugit, commodi cum dolores?
                Consequatur corrupti fugiat esse sit. Aut enim ipsam dolores, sint ratione dicta repudiandae! Placeat,
                dolor.
            </h1>
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aliquid doloribus quo soluta enim
                veritatis vel fuga in earum illum sit architecto quas tempore qui eligendi excepturi quisquam delectus
                minus, rem quidem voluptatibus rerum maxime. Hic provident expedita possimus fugit, commodi cum dolores?
                Consequatur corrupti fugiat esse sit. Aut enim ipsam dolores, sint ratione dicta repudiandae! Placeat,
                dolor.
            </h1>
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aliquid doloribus quo soluta enim
                veritatis vel fuga in earum illum sit architecto quas tempore qui eligendi excepturi quisquam delectus
                minus, rem quidem voluptatibus rerum maxime. Hic provident expedita possimus fugit, commodi cum dolores?
                Consequatur corrupti fugiat esse sit. Aut enim ipsam dolores, sint ratione dicta repudiandae! Placeat,
                dolor.
            </h1>
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aliquid doloribus quo soluta enim
                veritatis vel fuga in earum illum sit architecto quas tempore qui eligendi excepturi quisquam delectus
                minus, rem quidem voluptatibus rerum maxime. Hic provident expedita possimus fugit, commodi cum dolores?
                Consequatur corrupti fugiat esse sit. Aut enim ipsam dolores, sint ratione dicta repudiandae! Placeat,
                dolor.
            </h1>
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aliquid doloribus quo soluta enim
                veritatis vel fuga in earum illum sit architecto quas tempore qui eligendi excepturi quisquam delectus
                minus, rem quidem voluptatibus rerum maxime. Hic provident expedita possimus fugit, commodi cum dolores?
                Consequatur corrupti fugiat esse sit. Aut enim ipsam dolores, sint ratione dicta repudiandae! Placeat,
                dolor.
            </h1>
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aliquid doloribus quo soluta enim
                veritatis vel fuga in earum illum sit architecto quas tempore qui eligendi excepturi quisquam delectus
                minus, rem quidem voluptatibus rerum maxime. Hic provident expedita possimus fugit, commodi cum dolores?
                Consequatur corrupti fugiat esse sit. Aut enim ipsam dolores, sint ratione dicta repudiandae! Placeat,
                dolor.
            </h1>
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aliquid doloribus quo soluta enim
                veritatis vel fuga in earum illum sit architecto quas tempore qui eligendi excepturi quisquam delectus
                minus, rem quidem voluptatibus rerum maxime. Hic provident expedita possimus fugit, commodi cum dolores?
                Consequatur corrupti fugiat esse sit. Aut enim ipsam dolores, sint ratione dicta repudiandae! Placeat,
                dolor.
            </h1>
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aliquid doloribus quo soluta enim
                veritatis vel fuga in earum illum sit architecto quas tempore qui eligendi excepturi quisquam delectus
                minus, rem quidem voluptatibus rerum maxime. Hic provident expedita possimus fugit, commodi cum dolores?
                Consequatur corrupti fugiat esse sit. Aut enim ipsam dolores, sint ratione dicta repudiandae! Placeat,
                dolor.
            </h1>
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aliquid doloribus quo soluta enim
                veritatis vel fuga in earum illum sit architecto quas tempore qui eligendi excepturi quisquam delectus
                minus, rem quidem voluptatibus rerum maxime. Hic provident expedita possimus fugit, commodi cum dolores?
                Consequatur corrupti fugiat esse sit. Aut enim ipsam dolores, sint ratione dicta repudiandae! Placeat,
                dolor.
            </h1>
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aliquid doloribus quo soluta enim
                veritatis vel fuga in earum illum sit architecto quas tempore qui eligendi excepturi quisquam delectus
                minus, rem quidem voluptatibus rerum maxime. Hic provident expedita possimus fugit, commodi cum dolores?
                Consequatur corrupti fugiat esse sit. Aut enim ipsam dolores, sint ratione dicta repudiandae! Placeat,
                dolor.
            </h1>

            v<h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aliquid doloribus quo soluta enim
                veritatis vel fuga in earum illum sit architecto quas tempore qui eligendi excepturi quisquam delectus
                minus, rem quidem voluptatibus rerum maxime. Hic provident expedita possimus fugit, commodi cum dolores?
                Consequatur corrupti fugiat esse sit. Aut enim ipsam dolores, sint ratione dicta repudiandae! Placeat,
                dolor.
            </h1>
        </div>
    </section>


    <footer id="footer" style="background-color: red; position: fixed; width: 100%; bottom: 0;">
      salom
    </footer>

    <script>

        let h = document.getElementById("container");
        window.scroll = function (e) {
            document.getElementById("footer").style.position = 'static';
            document.getElementById("footer").style.batton = 40;
            
        }
        height = h.offsetHeight;
        console.log(height);
       
        // if (height < 1016) {
        //     alert('xey');
        //     document.getElementById("footer").style.position = 'fixed';
        //     document.getElementById("footer").style.bottom = 0;
        //     document.getElementById("footer").style.width = '100%';
        // }


    </script>


</body>

</html>